#ingame_HUD_ResourceMenu {
    position: absolute;
    @include S(top, 70px);
    @include S(right, 30px);
    @include PlainText;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > .resource {
        @include PlainText;
        @include IncreasedClickArea(0px);
        background: green;
        @include S(width, 30px);
        @include S(height, 30px);

        pointer-events: all;
        cursor: pointer;
        position: relative;

        display: inline-flex;
        justify-content: space-between;
        background: center center / 70% no-repeat;

        opacity: 0.7;

        .amountLabel {
        }

        resourceLabel {
        }
    }
}
